<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="mybatis.model.Flight" alias="Flight"/>
        <typeAlias type="mybatis.model.Passenger" alias="Passenger"/>
        <typeAlias type="mybatis.model.Airline" alias="Airline"/>
        <typeAlias type="mybatis.model.PassengerFlight" alias="PassengerFlight"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:/PostgreDS"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/FlightMapper.xml"/>
        <mapper resource="mybatis/PassengerMapper.xml"/>
        <mapper resource="mybatis/AirlineMapper.xml"/>
        <mapper resource="mybatis/PassengerFlightMapper.xml"/>
    </mappers>
</configuration>