<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.AirlineMapper">
    <resultMap id="FlightCollectionMap" type="mybatis.model.Flight">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="departure" jdbcType="VARCHAR" property="departure" />
        <result column="destination" jdbcType="VARCHAR" property="destination" />
    </resultMap>
    <resultMap id="BaseResultMap" type="mybatis.model.Airline">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    <resultMap id="AirlineWithFlightsMap" type="mybatis.model.Airline">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <collection property="flights" ofType="mybatis.model.Flight" resultMap="FlightCollectionMap"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from public.airline
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="mybatis.model.Airline" useGeneratedKeys="true">
        insert into public.airline (name)
        values (#{name,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="mybatis.model.Airline">
        update public.airline
        set name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="AirlineWithFlightsMap">
        SELECT
            a.id,
            a.name,
            f.id,
            f.departure,
            f.destination
        FROM public.airline a
                 LEFT JOIN public.flight f ON a.id = f.airline_id
        WHERE a.id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            a.id,
            a.name
        FROM public.airline a
    </select>
    <select id="selectAllWithFlights" resultMap="AirlineWithFlightsMap">
        SELECT
            a.id,
            a.name,
            f.id,
            f.departure,
            f.destination
        FROM
            public.airline a
                LEFT JOIN
            public.flight f ON a.id = f.airline_id
        ORDER BY a.id
    </select>
</mapper>

