<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.PassengerMapper">
    <resultMap id="FlightMapForCollection" type="mybatis.model.Flight">
        <id property="id" column="flight_id"/>
        <result property="departure" column="departure"/>
        <result property="destination" column="destination"/>
    </resultMap>
    <resultMap id="PassengerWithFlightsResultMap" type="mybatis.model.Passenger">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="first_name" jdbcType="VARCHAR" property="firstName" />
        <result column="last_name" jdbcType="VARCHAR" property="lastName" />
        <collection property="flights" ofType="mybatis.model.Flight" resultMap="FlightMapForCollection"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from public.passenger
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="mybatis.model.Passenger" useGeneratedKeys="true">
        insert into public.passenegr (first_name, last_name)
        values (#{first_name,jdbcType=VARCHAR}, #{last_name,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="mybatis.model.Passenger">
        update public.passenger
        set first_name = #{firstName,jdbcType=VARCHAR},
            last_name = #{lastName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="PassengerWithFlightsResultMap">
        SELECT
            p.id,
            p.first_name,
            p.last_name,
            f.id as flight_id,
            f.departure as departure,
            f.destination as destination,
        FROM public.passenger p
                 LEFT JOIN public.flight_passenger fp ON p.id = fp.passenger_id
                 LEFT JOIN public.flight f ON fp.flight_id = f.id
        WHERE p.id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="PassengerWithFlightsResultMap">
        SELECT
            p.id,
            p.first_name,
            p.last_name,
            f.id as flight_id,
            f.departure as departure,
            f.destination as destination,
        FROM public.passenger p
                 LEFT JOIN public.flight_passenger fp ON p.id = fp.passenger_id
                 LEFT JOIN public.flight f ON fp.flight_id = f.id
        ORDER BY p.id
    </select>
</mapper>
